@font-face{
    font-family: Avenir;
    src: url('../../assets/fontes/Avenir-Regular.woff2');
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url('../../assets/fontes/Avenir-Bold.woff2');
    font-weight: 700;
}