@use 'variaveis';
@use 'hero';
@use 'fontes';
@use 'shows';
@use 'planos';
@use 'assista-onde-quiser';

* {
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
}



body{
    background-color: variaveis.$corDeFundo;
    
}

@mixin texto($tamanhoDaFonte: 16px) {
    font-size: $tamanhoDaFonte;
    line-height: $tamanhoDaFonte + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin titulo($tamanhoDaFonte: 40px) {
    @include texto($tamanhoDaFonte);
    color: variaveis.$corTextoSecundaria;
}

.texto--grande {
    @include texto(18px)
}

.texto {
    @include texto;
}

.texto--pequeno {
    @include texto(12px)
}

.link-texto {
    @include texto(18px);
    color: variaveis.$corTextoSecundaria;
    text-decoration: underline;
}

.titulo--grande{
    @include titulo(44px)
}

.titulo{
    @include titulo()
}

.titulo--pequeno{
    @include titulo(28px)
}

.botao {
    display: block;
    width: 100%;
    height: 60px;
    font-family: 18px;
    color: variaveis.$corTextoSecundaria;
    background-color: variaveis.$corDeFundoBotao;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
}